<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добро пожаловать!</title>
</head>
<body>

<h1>Авторизация</h1>

<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:salmon;margin:10px 0px;">
    Пользователь не найден. Проверьте указанные данные.
</div>

<h3>Введите логин и пароль:</h3>
<form name='authorization-form' th:action="@{/j_spring_security_check}" method='POST'>
    <table>
        <tr>
            <td>Логин:</td>
            <td><input type='text' name='j_username' value=''></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input type='password' name='j_password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Ок" /></td>
        </tr>
    </table>
</form>

<a th:href="@{/registration}">Регистрация нового пользователя</a>

</body>
</html>